*.iml
.gradle
/local.properties
local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea/
.vscode/
.DS_Store
/build
/app/build
**/build/
/captures
artifacts/
.externalNativeBuild
.cxx
__pycache__/
*.pyc
*.jks
*.keystore
*.p12
*.pem
*.key
*.log
captures/
.aura-guide/
